{% extends 'base.html' %}
{% block title %} {{ todo.title | title }} detail {% endblock title %}

{% block content %}
    <div class="card col-4" aria-hidden="true">
            <div class="card-body">
                <h5 class="card-title placeholder-glow">{{ todo.title|title }}</h5>
                <p class="card-text placeholder-glow">{{ todo.created }}</p>
                <p class="card-text placeholder-glow">{{ todo.body }}</p>
                <a href="{% url 'delete' todo.id %}" class="btn btn-danger">Delete</a>
                <a href="{% url 'update' todo.id %}" class="btn btn-info">Update</a>
            </div>
        </div>
{% endblock content %}